/* Style/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 15rem;  /* Added margin-left */
  }
  
  .logo img {
    height: 40px;
    margin-right: 0.5rem;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .login-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10rem; /* Added margin-right */
  }
  
  .login-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .login-button a:hover {
    color: #ddd;
  }
  